<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gweather.app"
    android:versionCode="4"
    android:versionName="2.1.1" >

    <uses-sdk android:minSdkVersion="21"
         android:targetSdkVersion="23" />
    <!-- 添加访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 添加访问GSP定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    
    <application
        android:name="com.gweather.app.WeatherApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7c6b161dff35f4ea0ef341fb0d43cd50" />
        <activity
            android:name="com.gweather.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gweather.app.CityMangerActivity"
            android:label="@string/city_manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gweather.app.AddCityActivity"
            android:label="@string/add_city_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>

                <!-- 设置其为widget组件的配置Activity -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- 添加widget组件 -->
        <receiver
            android:name="com.gweather.app.WeatherWidget"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.gweather.action_auto_refresh" />

                <!-- 指定AppWidgetProvider接收的广播 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.ALARM_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget" />
        </receiver>
        <receiver android:name="com.gweather.app.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".WeatherProvider"
            android:authorities="com.gweather.app.weather"
            android:exported="false" />

        <!-- 自定义的后台更新widget服务 -->
        <service android:name=".UpdateWidgetService" >
        </service>
    </application>

</manifest>